In [ ]:
# Exercise: Supervised and Unsupervised Machine Learning

Using the iris dataset from the previous lesson, we're going to create two models, one supervised, one unsupervised, and compare how their predictions differ.

Complete the notebook by filling in the code where there are `?`.

In [3]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets

In [6]:
# Load in the iris dataset
iris = datasets.load_iris()

In [9]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [10]:
# Create the iris `data` dataset as a dataframe and name the columns with `feature_names`
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Include the target as well
df['target'] = iris.target

In [11]:
# Check your dataframe by `.head()`
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [14]:
# Target values as an array to compare against supervised and unsupervised
target_array = df["target"].values
target_array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

## Supervised ML

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
# initialize and fit a linear regression model
reg = LinearRegression().fit(df[iris["feature_names"]], df["target"])

In [18]:
# Scoring of the linear regression model, but slighly deceiving since the iris dataset is classifying not regression
reg.score(df[iris["feature_names"]], df["target"])

1.0

In [19]:
# regression output floating point numbers
reg.predict(df[iris["feature_names"]])

array([ -5.93131985e-16,  -6.26689203e-16,  -6.99104227e-16,
        -7.24209509e-16,  -6.29339497e-16,  -4.87285006e-16,
        -7.22821730e-16,  -6.18237267e-16,  -7.74420072e-16,
        -6.50281442e-16,  -5.12265024e-16,  -6.79550060e-16,
        -6.75386724e-16,  -8.28668708e-16,  -4.06292782e-16,
        -4.23071391e-16,  -4.87285006e-16,  -5.75090861e-16,
        -4.07805825e-16,  -5.91744206e-16,  -4.95611679e-16,
        -5.68151967e-16,  -7.51965084e-16,  -5.27906382e-16,
        -6.79550060e-16,  -5.96032806e-16,  -5.82155018e-16,
        -5.62475588e-16,  -5.56924473e-16,  -6.99104227e-16,
        -6.62896715e-16,  -4.59529431e-16,  -6.13823403e-16,
        -5.09364203e-16,  -6.50281442e-16,  -6.07135036e-16,
        -4.70506397e-16,  -6.50281442e-16,  -7.79971187e-16,
        -5.87580870e-16,  -6.05747257e-16,  -6.92415860e-16,
        -7.91073418e-16,  -5.51623885e-16,  -5.73703082e-16,
        -6.39304476e-16,  -6.09785330e-16,  -7.29760624e-16,
        -5.42921421e-16,  -6.12686151e-16,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   1.00000000e+00,   1.00000000e+00,
         1.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00,
         2.00000000e+00,   2.00000000e+00,   2.00000000e+00])

# Unsupervised ML

In [20]:
from sklearn.cluster import KMeans

In [21]:
# We already know the number of clusters, we can use during fit, hint: it's the number of classes
kmeans = KMeans(n_clusters=3, random_state=0).fit(df[iris["feature_names"]])

In [22]:
# Print the labels to see what value is in what cluster
print(kmeans.labels_)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 2 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1]

In [23]:
# What happens if we cluster more than the actual classes?
kmeans = KMeans(n_clusters=4, random_state=0).fit(df[iris['feature_names']])

In [24]:
# Print the labels to see what value is in what cluster
kmeans.labels_

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 3 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 2 3 3 2 0 2 3 2 3
 3 3 3 3 3 3 2 2 3 3 3 2 3 3 2 3 3 3 2 2 2 3 3 3 2 3 3 3 3 3 3 3 2 3 3 3 3
 3 3]